<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker | freeCodeCamp</title>
    <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon.ico"  type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Emmijozzy freecodecamp Projects</h1>
    <ul>
      <li><a href="api/timestamp" target="_blank">Timestamp Microservice</a></li>
      <li><a href="api/headparser" target="_blank"> Request Header Parser Microservice</a></li>
      <li><a href="api/urlshortener" target="_blank"> URL Shortener Microservice</a></li>
      <li><a href="api/metadata" target="_blank"> File Metadata Microservice</a></li>
    </ul>
  </body>
</html>
